<%= form_for(@struttura) do |f| %>
  <% if @struttura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@struttura.errors.count, "error") %> prohibited this struttura from being saved:</h2>

      <ul>
      <% @struttura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :master_struttura_id %><br />
    <%= f.text_field :master_struttura_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

