<h1>Listing strutturas</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Nome</th>
    <th>latlon</th>
    <th>master id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @strutturas.each do |struttura| %>
  <tr>
    <td><%= struttura.lat %></td>
    <td><%= struttura.lon %></td>
    <td><%= struttura.nome %></td>
    <td><%= struttura.lonlat %></td>
    <td><%= struttura.master_struttura_id %></td>
    <td><%= link_to 'Show', struttura %></td>
    <td><%= link_to 'Edit', edit_struttura_path(struttura) %></td>
    <td><%= link_to 'Destroy', struttura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Struttura', new_struttura_path %>

