<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @struttura.lat %>
</p>

<p>
  <b>Longitude:</b>
  <%= @struttura.lon %>
</p>

<p>
  <b>Nome:</b>
  <%= @struttura.nome %>
</p>

<p>
  <b>Address:</b>
  <%= @struttura.address %>
</p>

<p>
  <b>Master ID:</b>
  <%= @struttura.master_struttura_id %>
</p>

<p>
  <b>lonlat:</b>
  <%= @struttura.lonlat %>
</p>


<%= link_to 'Edit', edit_struttura_path(@struttura) %> |
<%= link_to 'Back', strutturas_path %>
