<h1>Listing lonlats</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th>Itinerario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lonlats.each do |lonlat| %>
  <tr>
    <td><%= lonlat.lat %></td>
    <td><%= lonlat.lon %></td>
    <td><%= lonlat.itinerario.nome %></td>
    <td><%= link_to 'Show', lonlat %></td>
    <td><%= link_to 'Edit', edit_lonlat_path(lonlat) %></td>
    <td><%= link_to 'Destroy', lonlat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lonlat', new_lonlat_path %>
