<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @lonlat.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @lonlat.lon %>
</p>

<p>
  <b>Itinerario:</b>
  <%= @lonlat.itinerario %>
</p>


<%= link_to 'Edit', edit_lonlat_path(@lonlat) %> |
<%= link_to 'Back', lonlats_path %>
