<h1>Listing itinerarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itinerarios.each do |itinerario| %>
  <tr>
    <td><%= itinerario.nome %></td>
    <td><%= link_to 'Show', itinerario %></td>
    <td><%= link_to 'Edit', edit_itinerario_path(itinerario) %></td>
    <td><%= link_to 'Destroy', itinerario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Itinerario', new_itinerario_path %>
