<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @itinerario.nome %>
</p>
<div style='width: 800px;'>
Zoom: <%= @itinerario.zoom_level %><br />
<div id="myMap" style="height:400px; width:90%;"></div>

<textarea id="mapData" name="itinerario[map_from_json]" style="width:90%; height:100px">
<%= ActiveSupport::JSON.decode(@itinerario.map_from_json) %>
</textarea>
<script type="text/javascript">
      // If there are any parameters at eh end of the URL, they will be in  location.search
      // looking something like  "?marker=3"
 
      // skip the first character, we are not interested in the "?"
      var query = location.search.substring(1);
 
      // split the rest at each "&" character to give a list of  "argname=value"  pairs
      var pairs = query.split("&");
      for (var i=0; i<pairs.length; i++) {
        // break each pair at the first "=" to obtain the argname and value
	var pos = pairs[i].indexOf("=");
	var argname = pairs[i].substring(0,pos).toLowerCase();
	var value = pairs[i].substring(pos+1);
 
        // process each possible argname  -  use unescape() if theres any chance of spaces
        if (argname == "encoded") {document.getElementById('encodedData').innerHTML = unescape(value);}
        if (argname == "kml") {document.getElementById('kmlString').innerHTML = unescape(value);}
        if (argname == "mapdata") {document.getElementById('mapData').innerHTML = unescape(value);}
     }
</script>
<script type="text/javascript">
  BlitzMap.setMap( 'myMap', true, 'mapData' );
</script>
<br /><br />
<%= ActiveSupport::JSON.decode(@itinerario.map_from_json) %>




<%= link_to 'Edit', edit_itinerario_path(@itinerario) %> |
<%= link_to 'Back', itinerarios_path %>
